<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Users</h1>
<div th:each="u : ${listUsers}">
    <a th:text="${u.getUsername()}">user</a>
    <a>
        <form th:method="POST" th:action="@{/delete(id=${u.getId()})}">
            <input type="submit" value="Delete"/>
        </form>
    </a>
    <a class="edit-button" th:href="@{/edit(id=${u.getId()})}">
        <button type="button" class="btn btn-primary btn-sm">Update</button>
    </a>
    <br>
    <br>
</div>

<a href="/admin/new">Create user</a>

<br>

<form th:action="@{/logout}" method="get">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>